.cards {
    display: flex;
    gap: 1em;
    flex-direction: column;

    .card {
        display: flex;
        padding: 1em;
        position: relative;
        flex-direction: column;

        background-color: var(--card-background-color);
        border: 1px solid var(--card-border-color);
        border-top-color: var(--card-border-highlight-color);
        border-radius: var(--nice-border-radius);
    }
}
